/*-
 * #%L
 * SciJava Operations Engine: a framework for reusable algorithms.
 * %%
 * Copyright (C) 2016 - 2023 SciJava developers.
 * %%
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 * #L%
 */

module org.scijava.ops.engine {

/*
 * This is autogenerated source code -- DO NOT EDIT. Instead, edit the
 * corresponding template in templates/ and rerun bin/generate.groovy.
 */

	exports org.scijava.ops.engine;
	exports org.scijava.ops.engine.conversionLoss;
	exports org.scijava.ops.engine.util;

	requires java.compiler;

	requires org.scijava.common3;
	requires org.scijava.collections;
	requires org.scijava.discovery;
	requires org.scijava.function;
	requires org.scijava.meta;
	requires org.scijava.parsington;
	requires org.scijava.priority;
	requires org.scijava.progress;
	requires org.scijava.struct;
	requires transitive org.scijava.ops.api;
	requires org.scijava.ops.spi;
	requires org.scijava.types;

	requires org.javassist;
	requires org.slf4j;
	requires org.yaml.snakeyaml;


	uses javax.annotation.processing.Processor;
	uses org.scijava.discovery.Discoverer;
	uses org.scijava.ops.engine.InfoTreeGenerator;
	uses org.scijava.ops.api.OpEnvironment;
	uses org.scijava.ops.engine.OpDescriptionGenerator;
	uses org.scijava.ops.engine.OpInfoGenerator;
	uses org.scijava.ops.engine.OpWrapper;
	uses org.scijava.ops.engine.matcher.MatchingRoutine;
	uses org.scijava.ops.engine.matcher.reduce.InfoReducer;
	uses org.scijava.ops.engine.yaml.YAMLOpInfoCreator;
	uses org.scijava.ops.spi.Op;
	uses org.scijava.ops.spi.OpCollection;
	uses org.scijava.types.TypeExtractor;

	provides org.scijava.discovery.Discoverer with
		org.scijava.ops.engine.yaml.impl.YAMLOpInfoDiscoverer;

	provides org.scijava.ops.engine.InfoTreeGenerator with
		org.scijava.ops.engine.matcher.adapt.AdaptationInfoTreeGenerator,
		org.scijava.ops.engine.impl.DefaultInfoTreeGenerator,
		org.scijava.ops.engine.matcher.convert.ConvertedInfoTreeGenerator;

	provides org.scijava.ops.api.OpEnvironment with
	    org.scijava.ops.engine.impl.DefaultOpEnvironment;

	provides org.scijava.ops.api.OpHistory with
	    org.scijava.ops.engine.impl.DefaultOpHistory;

	provides org.scijava.ops.engine.OpInfoGenerator with
	    org.scijava.ops.engine.impl.OpClassOpInfoGenerator,
	    org.scijava.ops.engine.impl.OpCollectionInfoGenerator,
		org.scijava.ops.engine.matcher.reduce.ReducedOpInfoGenerator;

	provides org.scijava.ops.engine.OpDescriptionGenerator with
			org.scijava.ops.engine.impl.DefaultOpDescriptionGenerator;

	provides org.scijava.ops.engine.OpWrapper with
		org.scijava.ops.engine.matcher.impl.OpWrappers.ProducerOpWrapper,
#foreach($arity in [1..$maxArity])
		org.scijava.ops.engine.matcher.impl.OpWrappers.Function${arity}OpWrapper,
#end
#foreach($arity in [0..$maxArity])
		org.scijava.ops.engine.matcher.impl.OpWrappers.Computer${arity}OpWrapper,
#end
		org.scijava.ops.engine.matcher.impl.OpWrappers.Inplace1OpWrapper,
#foreach($arity in [2..$maxArity])
#foreach($a in [1..$arity])
		org.scijava.ops.engine.matcher.impl.OpWrappers.Inplace${arity}_${a}OpWrapper,
#end
#end
		org.scijava.ops.engine.matcher.impl.LossReporterWrapper;

	provides org.scijava.ops.engine.matcher.MatchingRoutine with
		org.scijava.ops.engine.matcher.impl.RuntimeSafeMatchingRoutine,
		org.scijava.ops.engine.matcher.adapt.AdaptationMatchingRoutine,
		org.scijava.ops.engine.matcher.convert.ConversionMatchingRoutine;

	provides org.scijava.ops.spi.OpCollection with
	    org.scijava.ops.engine.adapt.lift.ComputerToArrays,
	    org.scijava.ops.engine.adapt.lift.ComputerToIterables,
	    org.scijava.ops.engine.adapt.lift.FunctionToArrays,
	    org.scijava.ops.engine.adapt.lift.FunctionToIterables,
	    org.scijava.ops.engine.adapt.lift.InplaceToArrays,
	    org.scijava.ops.engine.conversionLoss.impl.PrimitiveArrayLossReporters,
	    org.scijava.ops.engine.conversionLoss.impl.PrimitiveLossReporters,
		org.scijava.ops.engine.describe.PrimitiveDescriptors,
	    org.scijava.ops.engine.matcher.convert.IdentityCollection,
        org.scijava.ops.engine.matcher.convert.UtilityConverters,
	    org.scijava.ops.engine.copy.CopyOpCollection,
	    org.scijava.ops.engine.create.CreateOpCollection,
	    org.scijava.ops.engine.math.Add,
	    org.scijava.ops.engine.math.MathOpCollection,
	    org.scijava.ops.engine.math.Power,
	    org.scijava.ops.engine.math.Sqrt,
	    org.scijava.ops.engine.math.Zero,
	    org.scijava.ops.engine.matcher.convert.PrimitiveArrayConverters,
	    org.scijava.ops.engine.matcher.convert.PrimitiveConverters,
			org.scijava.ops.engine.stats.Mean,
			org.scijava.ops.engine.stats.Size;


	provides org.scijava.ops.spi.Op with //
#foreach($arity in [1..$maxArity])
		org.scijava.ops.engine.adapt.complexLift.ComputersToFunctionsAndLift.Computer${arity}ToFunction${arity}AndLiftViaSource,
		org.scijava.ops.engine.adapt.complexLift.FunctionsToComputersAndLift.Function${arity}ToComputer${arity}AndLiftAfter,
		org.scijava.ops.engine.adapt.complexLift.FunctionsToComputersAndLift.Function${arity}ToComputer${arity}AndLiftBefore,
		org.scijava.ops.engine.adapt.functional.ComputersToFunctionsViaFunction.Computer${arity}ToFunction${arity}ViaFunction,
#end
#foreach($arity in [0..$maxArity])
		org.scijava.ops.engine.adapt.functional.ComputersToFunctionsViaSource.Computer${arity}ToFunction${arity}ViaSource,
		org.scijava.ops.engine.adapt.functional.FunctionsToComputers.Function${arity}ToComputer${arity},
#end
		org.scijava.ops.engine.adapt.functional.InplacesToFunctions.Inplace1ToFunction1,
#foreach($arity in [2..$maxArity])
#foreach($a in [1..$arity])
		org.scijava.ops.engine.adapt.functional.InplacesToFunctions.Inplace${arity}_${a}ToFunction${arity},
#end
#end
		org.scijava.ops.engine.eval.DefaultEval,
		org.scijava.ops.engine.stats.Mean.MeanFunction;

    provides org.scijava.ops.engine.matcher.reduce.InfoReducer with //
        org.scijava.ops.engine.matcher.reduce.FunctionReducer,
        org.scijava.ops.engine.matcher.reduce.ComputerReducer;

    provides org.scijava.ops.engine.yaml.YAMLOpInfoCreator with
        org.scijava.ops.engine.yaml.impl.JavaClassYAMLOpInfoCreator,
        org.scijava.ops.engine.yaml.impl.JavaFieldYAMLOpInfoCreator,
        org.scijava.ops.engine.yaml.impl.JavaMethodYAMLInfoCreator;
}
