/*
 * #%L
 * SciJava Operations: a framework for reusable algorithms.
 * %%
 * Copyright (C) 2016 - 2019 SciJava Ops developers.
 * %%
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 * #L%
 */

package org.scijava.ops.core.builder;

import static org.junit.Assert.assertEquals;
import static org.junit.Assert.assertTrue;

import java.util.Arrays;
import java.util.function.BiFunction;
import java.util.function.Function;

import org.junit.Test;
import org.scijava.ops.AbstractTestEnvironment;
import org.scijava.functions.Computers;
import org.scijava.functions.Functions;
import org.scijava.functions.Inplaces;
import org.scijava.ops.function.Producer;

/**
 * Tests {@link OpBuilder}. For each arity, we test the following matches and
 * run the following commands based on the information scenarios.
 * <p>
 * Input TYPES are given (IT):
 * <p>
 * <ol>
 * <li>The output is unspecified (OU):
 * <ol type="a">
 * <li>match: Function, Inplace
 * <li>run: none
 * </ol>
 * <li>The output type is given (OT):
 * <ol type="a">
 * <li>match: Function, Computer
 * <li>run: none
 * </ol>
 * </ol>
 * Input VALUES are given (IV) (N.B. this case applies for Arity0):
 * <p>
 * <ol>
 * <li>The output is unspecified (OU):
 * <ol type="a">
 * <li>match: Function, Inplace
 * <li>run: apply, mutate
 * </ol>
 * <li>The output type is given (OT):
 * <ol type="a">
 * <li>match: Function, Computer
 * <li>run: apply
 * </ol>
 * <li>The output value is given (OV):
 * <ol type="a">
 * <li>match: Computer
 * <li>run: compute
 * </ol>
 * </ol>
 * 
 * @author Curtis Rueden
 * @author Gabriel Selzer
 */
public class OpBuilderTest extends AbstractTestEnvironment {

	final double[] halves = new double[10];
	{
		for (int i = 0; i < halves.length; i++)
			halves[i] = i / 2.;
	}

	// -- 0-ary --

	/** Matches a nullary function in a vacuum. */
	@Test
	public void testArity0_OU_matchF() {
		final Producer<?> op = name("test.addDoubles").input().producer();
		final Object result = op.create();
		assertEquals(0., result);
	}

	/** Runs a nullary function in a vacuum. */
	@Test
	public void testArity0_OU_runF() {
		final Object result = name("test.addDoubles").input().create();
		assertEquals(0., result);
	}

	/** Matches a nullary function with a given output type. */
	@Test
	public void testArity0_OT_matchF() {
		final Double expected = 0.;
		final Producer<Double> op = //
			name("test.addDoubles").input().outType(Double.class).producer();
		final Object result = op.create();
		assertEquals(result, expected);
	}

	/** Matches a nullary computer with a given output type. */
	@Test
	public void testArity0_OT_matchC() {
		final double[] actual = { 1, 2, 3 };
		final double[] expected = { 0, 0, 0 };
		final Computers.Arity0<double[]> op = //
			name("test.addArrays").input().outType(double[].class).computer();
		op.compute(actual);
		assertTrue(Arrays.equals(actual, expected));
	}

	/** Runs a nullary function with a given output type. */
	@Test
	public void testArity0_OT_runF() {
		final Double result = name("test.addDoubles").input().outType(Double.class)
			.create();
		assert (0. == result);
	}

	/** Matches a nullary computer with a given output value. */
	@Test
	public void testArity0_OV_matchC() {
		double[] result = { 1, 2, 3 };
		double[] expected = { 0, 0, 0 };
		final Computers.Arity0<double[]> op = //
			name("test.addArrays").input().output(result).computer();
		op.compute(result);
		assertTrue(Arrays.equals(expected, result));
	}

	/** Runs a nullary computer with a given output value. */
	@Test
	public void testArity0_OV_runC() {
		double[] result = { 1, 2, 3 };
		double[] expected = { 0, 0, 0 };
		name("test.addArrays").input().output(result).compute();
		assertTrue(Arrays.equals(expected, result));
	}
#foreach($arity in [1..$maxArity])

	// -- ${arity}-ary --

	/** Matches a ${arity}-arity function using input types only. */
	@Test
	public void testArity${arity}_IT_OU_matchF() {
#foreach($a in [1..$arity])
		final Double ${functionInputName.call($arity, $a)} = 1.;
#end
		final Double expected = ${arity}.;
		final ${functionArity.call($arity)}${wildcardOutputDoubles.call($arity)} op = //
			name("test.addDoubles") //
				.inType($doubleClassString.call($arity)) //
				.function();
		final Object actual = op.apply($args.call($arity));
		assertEquals(actual, expected);
	}

#foreach($i in [1..$arity])
	/** Matches a ${arity}-arity inplace${i} with a given output type. */
	@Test
	public void testArity${arity}_IT_OU_matchI${i}() {
#foreach($a in [1..$arity])
		final double[] ${functionInputName.call($arity, $a)} = { 1, 2, 3 };
#end
		final double[] expected = $inplaceExpectedArray.call($arity);
		final ${inplaceType.call($arity, $i)}${arrayGenerics.call($arity)} op = //
			name("test.mulArrays${arity}_${i}") //
				.inType($arrayClassString.call($arity)) //
				.${inplaceMethod.call($arity, $i)}();
		op.mutate($args.call($arity));
		assertTrue(Arrays.equals($inplaceActualArg.call($arity, $i), expected));
	}

#end
	/** Matches a ${arity}-arity function using input types + output type. */
	@Test
	public void testArity${arity}_IT_OT_matchF() {
#foreach($a in [1..$arity])
		final Double ${functionInputName.call($arity, $a)} = 1.;
#end
		final Double expected = ${arity}.;
		final ${functionArity.call($arity)}${genericDoubles.call($arity)} op = //
			name("test.addDoubles").inType($doubleClassString.call($arity)) //
				.outType(Double.class).function();
		final double actual = op.apply($args.call($arity));
		assertEquals(actual, expected, 0.);
	}

	/** Matches a ${arity}-arity computer using input types + output type. */
	@Test
	public void testArity${arity}_IT_OT_matchC() {
#foreach($a in [1..$arity])
		final double[] ${functionInputName.call($arity, $a)} = { 1, 2, 3 };
#end
		double[] actual = { 0, 0, 0 };
		double[] expected = $computerExpectedArray.call($arity);
		final ${computerArity.call($arity)}${computerArrayGenerics.call($arity)} op = //
			name("test.addArrays") //
				.inType(${arrayClassString.call($arity)}) //
				.outType(double[].class).computer();
		op.compute($args.call($arity), actual);
		assertTrue(Arrays.equals(actual, expected));
	}

	/** Matches a ${arity}-arity function using input value only. */
	@Test
	public void testArity${arity}_IV_OU_matchF() {
#foreach($a in [1..$arity])
		final Double ${functionInputName.call($arity, $a)} = 1.;
#end
		final Double expected = ${arity}.;
		final ${functionArity.call($arity)}${wildcardOutputDoubles.call($arity)} op = //
			name("test.addDoubles") //
				.input($args.call($arity)) //
				.function();
		final Object actual = op.apply($args.call($arity));
		assertEquals(actual, expected);
	}

#foreach($i in [1..$arity])
	/** Matches a ${arity}-arity inplace${i} with a given output value. */
	@Test
	public void testArity${arity}_IV_OU_matchI${i}() {
#foreach($a in [1..$arity])
		final double[] ${functionInputName.call($arity, $a)} = { 1, 2, 3 };
#end
		double[] expected = $inplaceExpectedArray.call($arity);
		final ${inplaceType.call($arity, $i)}${arrayGenerics.call($arity)} op = //
			name("test.mulArrays${arity}_${i}").input($args.call($arity)) //
				.${inplaceMethod.call($arity, $i)}();
		op.mutate($args.call($arity));
		assertTrue(Arrays.equals(expected, $functionInputName.call($arity, $i)));
	}

#end
	/** Runs a ${arity}-arity function using input value only. */
	@Test
	public void testArity${arity}_IV_OU_runF() {
#foreach($a in [1..$arity])
		final Double ${functionInputName.call($arity, $a)} = 1.;
#end
		final Double expected = ${arity}.;
		final Object actual = name("test.addDoubles") //
			.input($args.call($arity)) //
			.apply();
		assertEquals(actual, expected);
	}

#foreach($i in [1..$arity])
	/** Runs a ${arity}-arity inplace${i} with a given output value. */
	@Test
	public void testArity${arity}_IV_OU_runI${i}() {
#foreach($a in [1..$arity])
		final double[] $functionInputName.call($arity, $a) = { 1, 2, 3 };
#end
		final double[] expected = $inplaceExpectedArray.call($arity);
		name("test.mulArrays${arity}_${i}") //
			.input($args.call($arity)) //
			.${mutateMethod.call($arity, $i)}();
		assertTrue(Arrays.equals($functionInputName.call($arity, $i), expected));
	}

#end
	/** Matches a ${arity}-arity function using input value + output type. */
	@Test
	public void testArity${arity}_IV_OT_matchF() {
#foreach($a in [1..$arity])
		final Double $functionInputName.call($arity, $a) = 1.;
#end
		final Double expected = ${arity}.;
		final ${functionArity.call($arity)}${genericDoubles.call($arity)} op = //
			name("test.addDoubles").input($args.call($arity)) //
				.outType(Double.class).function();
		final double actual = op.apply($args.call($arity));
		assertEquals(actual, expected, 0.);
	}

	/** Matches a unary computer using input types + output type. */
	@Test
	public void testArity${arity}_IV_OT_matchC() {
#foreach($a in [1..$arity])
		double[] $functionInputName.call($arity, $a) = { 1, 2, 3 };
#end
		double[] actual = { 0, 0, 0 };
		double[] expected = ${computerExpectedArray.call($arity)};
		final ${computerArity.call($arity)}${computerArrayGenerics.call($arity)} op = //
			name("test.addArrays") //
				.input($args.call($arity)) //
				.output(actual).computer();
		op.compute($args.call($arity), actual);
		assertTrue(Arrays.equals(actual, expected));
	}

	/** Runs a unary function using input value + output type. */
	@Test
	public void testArity${arity}_IV_OT_runF() {
#foreach($a in [1..$arity])
		final Double $functionInputName.call($arity, $a) = 1.;
#end
		final Double expected = ${arity}.;
		final Object actual = name("test.addDoubles") //
			.input($args.call($arity)) //
			.outType(Double.class).apply();
		assertEquals(actual, expected);
	}

	/** Matches a unary computer using input value + output value. */
	@Test
	public void testArity${arity}_IV_OV_matchC() {
#foreach($a in [1..$arity])
		double[] $functionInputName.call($arity, $a) = { 1, 2, 3 };
#end
		double[] actual = { 0, 0, 0 };
		double[] expected = $computerExpectedArray.call($arity);
		final $computerArity.call($arity)${computerArrayGenerics.call($arity)} op = //
			name("test.addArrays") //
				.input($args.call($arity)) //
				.output(actual).computer();
		op.compute($args.call($arity), actual);
		assertTrue(Arrays.equals(actual, expected));
	}

	/** Runs a unary computer using input value + output value. */
	@Test
	public void testArity${arity}_IV_OV_runC() {
#foreach($a in [1..$arity])
		double[] $functionInputName.call($arity, $a) = { 1, 2, 3 };
#end
		double[] actual = { 0, 0, 0 };
		double[] expected = $computerExpectedArray.call($arity);
		name("test.addArrays") //
			.input($args.call($arity)) //
			.output(actual).compute();
		assertTrue(Arrays.equals(actual, expected));
	}
#end

	// -- Helper methods --

	private OpBuilder name(String opName) {
		return ops.op(opName);
	}
}
